a,
article,
section,
p,
h1,
h2,
h3,
div,
body {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
}

button {
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #FFA500;
}

main {
    background-color: #FFFAF0;
}

.h-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(1440px - 60px);
    margin: auto;
}

.top-logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.top-list {
    display: flex;
    gap: 10px;
}

.top-menu {
    font-size: 20px;
    text-decoration: underline;
    background-color: gray;
    color: beige;
}


.quick-wrap {
    display: flex;
    max-width: calc(1440px - 60px);
    margin: auto;
}

.detailed-wrap {
    display: flex;
    max-width: calc(1440px - 60px);
    margin: 40px auto;
}

.quickWrite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #FF4F6E;
    padding-right: 40px;
}

.detailedWrite h2{
    margin-left: 60px;
}

.quick-content{
    margin: 20px 0 0 40px;
}

input {
    display: block;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

textarea {
    display: block;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.menu-btn {
    display: block;
    width: 306px;
    height: 30px;
    background-color: #29363D;
    color: #fff;
}


/* 내용이 없을 경우, 화면에 점이 생김 */
#display {
    border: 1px solid black;
    border-radius: 10px;
}

#display,
#display2 {
    background-color: #FFA500;
}


#display p {
    margin: 10px 0 0 10px;
}

#display h2 {
    margin-left: 10px;
}

#display button {
    display: block;
    width: 306px;
    height: 30px;
    background-color: #29363D;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
}


@media (max-width:1240px) and (min-width:829px) {
    .h-wrap {
    max-width: calc(100% - 60px);
    }

    .quick-wrap {
        max-width: calc(100% - 60px);
    }

    .detailed-wrap {
        max-width: calc(100% - 60px);
        flex-direction: column;
    }
}

@media (max-width: 828px) {
    .h-wrap {
        display: flex;
        flex-direction: column;
        max-width: calc(767px - 60px);
    }

    .quick-wrap {
        max-width: calc(767px - 60px);
        flex-direction: column;
        
    }

    .detailed-wrap {
        max-width: calc(767px - 60px);
        flex-direction: column;
    }

    textarea {
        display: block;
        width: 300px;
        height: 300px;
        margin-bottom: 10px;
    }

    .quickWrite {
        border-right: 0px solid #FF4F6E;
        border-bottom: 1px solid #FF4F6E;
        padding-right: 0;
        padding-bottom: 40px;
    }

    .quick-content{
        margin: 20px auto;
    }

    .detailed-wrap{
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        margin: -1px;
        width: 1px;
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }

}